.product {
    &--section.product-page {
        background-color: var(--white);
    }

    &--section {
        background-color: var(--gray);

        .cta-container {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    }

    &--header {
        text-align: center;
        padding-block: 1rem;
    }

    &--section--heading {
        font-weight: 500;
        font-size: var(--fs-h2);
    }

    &--section-description {
        font-size: var(--fs-p);
    }

    &--container {
        margin-block: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

    }

    &--item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
    }

    &--image-container {
        width: 100%;

        img {
            aspect-ratio: 6/7;
            object-fit: cover;
        }
    }

    &--item--description {
        text-align: center;
    }


    &--item--price {
        color: var(--blue);
    }


}

img {
    display: block;
    width: 100%;
}

@media screen and (min-width:425px) {
    .product--container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media screen and (min-width:1024px) {
    .product--container {
        grid-template-columns: repeat(4, 1fr);
    }
}