.checkout {
    .wrapper {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font: inherit;

        input {
            padding: 1em;
            border: 1pt solid var(--border-clr);
            border-radius: var(--border-radius-sm);

            &:focus {
                outline: 0;
                box-shadow: 0px 0px 4px rgba(0, 0, 255, 0.904);
                // border: 1px solid transparent;
            }
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-split {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            input {
                // width: 100%;
                flex: 1;
            }
        }
    }
}

.delivery-method {
    display: flex;
    gap: 1rem;
    // align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;

    }

    .delivery-type {
        position: relative;
        padding: 1em;
        width: 100%;
        max-width: 300px;
        background-color: var(--gray);
        border: 1px solid transparent;

        &.active {
            background-color: white;

            .delivery-tick {
                display: block;
                position: absolute;
                width: 25px;
                aspect-ratio: 1;
                top: 12px;
                right: 12px;
            }
        }

        &:hover {
            border: 1px solid var(--gray);
            background-color: white;
            cursor: pointer;
        }
    }

    .delivery-details {
        @extend .text-secondary;
        font-size: 12px;
    }

    .delivery-heading {
        font-weight: 600;
        font-size: 14px;
    }

    .delivery-tick {
        display: none;
    }
}

.order {
    &--section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 768px) {
            align-self: flex-start;
            top: 70px;
            position: sticky;

        }

        button {
            border: 0;
            background-color: var(--blue);
            color: white;
            padding: 1em;
            font-weight: 600;
            border-radius: var(--border-radius-sm);
        }
    }

    &--summary-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &--item {
        display: flex;
        gap: 10px;
        padding: .5rem;

        &-image-container {
            max-width: 80px;
            aspect-ratio: 1;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &-price {
            align-self: center;
        }

        &-details {
            flex: 2;
        }

        &-size {
            text-transform: uppercase;
        }
    }

    &--cart-summary {
        .details>div {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding-block: .5rem;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .checkout .wrapper {
        gap: 4rem;
    }

    .checkout form {
        flex: 2;
    }

    .checkout .order--section {
        flex: 1;
    }

    .order--summary-container {
        max-height: 320px;
        overflow-y: auto;
    }
}