.review {
    // padding-block: 1rem;

    h2 {
        margin-block: 1rem;
        font-size: clamp(1.125rem, 2vw + 1rem, 34px);
        font-weight: 500;
    }

    .wrapper {
        display: flex;
        overflow-x: scroll;
        padding: 2rem 1rem;
        gap: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &--card {
        padding: 1.5rem 1rem;
        display: flex;
        aspect-ratio: 4/3;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        box-shadow: 4px 4px 20px #ebe9e9bd;
        border-radius: 6px;
        z-index: 1;
    }

    &--content {
        width: 36ch;
        font-size: 14px;
    }

    &--profile {
        display: flex;
        gap: 1rem;
    }

    &--name {
        font-size: 16px;

    }

    &--email {
        font-size: 13px;
        @extend .text-secondary;
    }

    &--img {
        width: 50px;
        height: 50px;
        background-color: #777;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}