@import "config";
@import "swiper";
@import "nav";
@import "review";
@import "contact";
@import "item";
@import "landing";
@import "checkout";
@import "card";
@import "cart";
@import "footer";

main {
    margin-top: 1rem;
}

.container,
.full-width {
    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];

    &> :not(.breakout, .full-width),
    .full-width> :not(.breakout, .full-width) {
        grid-column: content;
    }

    &>.breakout {
        grid-column: breakout;
    }

    &>.full-width {
        grid-column: full-width;
    }
}

.quick-cta {
    width: max(35px, 4vw);
    max-width: 50px;
    aspect-ratio: 1;
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 1;

    a {
        // z-index: 2;
        position: relative;
        display: block;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        // left: 50%;
        width: 100%;
        aspect-ratio: 1;
        // background-color: #777;
        border-radius: 50%;
        transform: scale(0.9);
        transform-origin: center;
        z-index: -1;
        animation: ripple 2s ease-in-out infinite;
    }

    @keyframes ripple {
        from {
            background-color: #4ecb5c;
            transform: scale(0.9);
        }

        to {
            background-color: transparent;
            transform: scale(1.5);
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.bar {
    --_height: 2px;
    --_width: 25px;
    --_displacement-from-middle-line: 8px;
    height: var(--_height);
    width: var(--_width);
    background-color: #313131;
    position: relative;
    z-index: - 1;

    &::before,
    &::after {
        content: "";
        position: relative;
        display: block;
        background-color: inherit;
        z-index: inherit;
        height: var(--_height);
        width: var(--_width);
    }

    &::after {

        bottom: calc(var(--_displacement-from-middle-line));
    }

    &::before {
        top: calc(var(--_displacement-from-middle-line) - 2px);
    }
}

.cross {
    --_height: 2px;
    --_width: 25px;
    height: var(--_height);
    width: var(--_width);
    background-color: #313131;
    position: relative;
    transform: rotate(45deg);

    &::before {
        content: "";
        position: absolute;
        background-color: inherit;
        z-index: 1;
        display: block;
        height: var(--_height);
        width: var(--_width);
        transform: rotate(90deg);
    }

}

.cta {
    align-self: flex-start;
    border-radius: 2px;
    width: fit-content;
    // margin-inline: auto;
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em;
    font-size: var(--fs-p);
    background-color: var(--blue);
    color: white;
}

.filter {
    &--section {
        margin-block: 2rem;
    }

    &--wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &--button {
        border: 0;
        outline: 0;
        border-radius: 10px;
        padding: .5em .75em;
        font-size: clamp(0.75rem, 1vw + .2rem, 1rem);
        border: 1px solid var(--blue);
        color: var(--blue);
        background-color: var(--white);
        transition: background-color .1s ease-in-out;
        cursor: pointer;

        &[aria-current="true"],
        &:hover {
            background-color: var(--blue);
            border: 1px solid transparent;
            color: var(--white);
        }
    }
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    @media screen and (min-width: 768px) {
        gap: 3rem;

        .main-content {
            flex: 4;
        }

        .aside {
            flex: 1;
        }
    }
}